In [1]:
def greet():
    print("hello world")

In [2]:
greet()

hello world

In [3]:
def greet(name):
    print("Hello", name)

In [4]:
greet("Hari")

Hello Hari

Function with two arguments

In [11]:
def add_numbers(num1, num2):
    sum = num1 + num2
    print("sum:", sum)

In [12]:
add_numbers(10, 40)

sum: 50

In [20]:
def square_number(num):
    result = num * num
    return result

In [23]:
square = square_number(6)
print("square:", square)

square: 36

In [34]:
import math

square_root = math.sqrt(100)

print("square root of 100:" , square_root)

power = pow(2, 4)
print("2 to the power of 4 is ", power)

square root of 100: 10.0
2 to the power of 4 is  16

In [80]:
def greet(**words):
    for key, value in words.items():
        print(f"{key} : {value}")

In [81]:
greet(name="hari", greeting="hello")

name : hari
greeting : hello

In [114]:
def adder(*number):
    sum = 0
    for num in number:
        sum = sum + num
    print("sum of the number: ", sum)

In [115]:
adder(10,11,23,45,33)

sum of the number:  122

In [116]:
def intro(**data):
    for key, value in data.items():
        print(f"{key}: {value}")

In [117]:
intro(name="hari", designation="systemsengineer")

name: hari
designation: systemsengineer

In [118]:
def full_name(**name):
    for key, value in name.items():
        print(f"key" "value")

In [ ]:
full_name()

In [130]:
def multiply(*number):
    result = 1
    for num in number:
        result = result * num
    return result

In [132]:
multiply(10, 50,23, 10, 5)

575000

In [137]:
def multiply_v3(**kwargs):
    result = 1
    for arg in kwargs.values():
        result = result * arg
    return result

In [139]:
multiply_v3(a=1, b=2, c=3, d=10, f=12)

720

In [149]:
def is_prime(number):
    result = True
    for index in range(2, number):
        if number % index == 0:
            result = False
            break
        return result
    
def is_factor(number, index):
    return number % index == 0

In [150]:
# find largest prime factor

number = 13195
for index in range(number-1,2,-1):
    if is_factor(number, index) and is_prime(index):
        print(index)
        break

2639

In [164]:
def is_prime(number):
    for index in range(2, number):
        if number % index == 0:
            result = False
        else:
            result = True
        return result

In [166]:
is_prime(13)

True