# Dictionary

In [3]:
address = {
     'flatno' : 601,
     'building' : 'Nilgiri block',
     'area' : 'Amerpet'
}

In [6]:
address['flatno']

601

In [7]:
type(address)

dict

In [9]:
address.get('city', '')

''

In [10]:
address

{'flatno': 601, 'building': 'Nilgiri block', 'area': 'Amerpet'}

In [13]:
for item in address:
  print(item)

flatno
building
area

In [14]:
for item in address.values():
    print(item)

601
Nilgiri block
Amerpet

In [15]:
for name, value in address.items():
    print(f"{name} = {value}")

flatno = 601
building = Nilgiri block
area = Amerpet

In [16]:
message = "excellence is not a skill, it's an attitude"
char_count_dict = {}
for char in message:
    if char not in char_count_dict:
        char_count_dict[char] = 1
    else:
        char_count_dict[char] += 1
print(char_count_dict)

{'e': 5, 'x': 1, 'c': 2, 'l': 4, 'n': 3, ' ': 7, 'i': 4, 's': 3, 'o': 1, 't': 5, 'a': 3, 'k': 1, ',': 1, "'": 1, 'u': 1, 'd': 1}

In [18]:
#set
#list
items_list = [1, 2, 3,3]
items_tuple = (1, 2, 3,3)
items_set = {1, 2, 3, 3}

In [19]:
items_list

[1, 2, 3, 3]

In [20]:
items_tuple

(1, 2, 3, 3)

In [21]:
items_set

{1, 2, 3}

In [24]:
message

"excellence is not a skill, it's an attitude"

In [22]:
set(message)

{' ',
 "'",
 ',',
 'a',
 'c',
 'd',
 'e',
 'i',
 'k',
 'l',
 'n',
 'o',
 's',
 't',
 'u',
 'x'}

In [23]:
list(message)

['e',
 'x',
 'c',
 'e',
 'l',
 'l',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'n',
 'o',
 't',
 ' ',
 'a',
 ' ',
 's',
 'k',
 'i',
 'l',
 'l',
 ',',
 ' ',
 'i',
 't',
 "'",
 's',
 ' ',
 'a',
 'n',
 ' ',
 'a',
 't',
 't',
 'i',
 't',
 'u',
 'd',
 'e']